* {
  margin: 0;
}
/* font */
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans&family=Poppins:wght@400;500&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

/* header */
header {
  background: rgba(255, 144, 14, 0.1);
  height: 1322px;
  padding: 50px 240px;
}

/* nav */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-title {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
}
.nav ul li {
  list-style: none;
  display: inline;
  margin-left: 50px;
  font-weight: 500;
  font-size: 18px;
  color: #424242;
}
