* {
  margin: 0;
}
/* font */
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans&family=Poppins:wght@400;500&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
}

/* header */
header {
  background: rgba(255, 144, 14, 0.1);
  height: 1100px;
  padding: 50px 240px;
}

/* nav */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-title {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
}
.nav ul li {
  list-style: none;
  display: inline;
  margin-left: 50px;
  font-weight: 500;
  font-size: 18px;
  color: #424242;
}

/* header infos */
.header-infos {
  text-align: center;
  padding: 100px 150px;
}
.header-title {
  font-weight: 700;
  font-size: 64px;
  color: #131313;
  margin-bottom: 30px;
}
.detail {
  color: #727272;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 30px;
  line-height: 26px;
}
.btn-primary {
  width: 180px;
  height: 64px;
  background: #ff900e;
  border: 0;
  border-radius: 8px;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
}
.header-img img {
  border-radius: 8px;
  width: 100%;
  height: 500px;
}

/* Quick List Section */
.quick-list {
  margin: 100px 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 75px;
}
.quick-list-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 24px;
  column-gap: 24px;
}
.images {
  width: 250px;
  height: 250px;
  border-radius: 8px;
}
.quick-list-title {
  margin-bottom: 30px;
}

/* Features you will love section */
.features-you-will-love {
  margin: 100px 200px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 30px;
}
.section-title {
  color: #131313;
  font-weight: 700;
  font-size: 45px;
  border-left: 5px solid #ff900e;
  padding-left: 20px;
  margin-bottom: 24px;
}
.features {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.feature {
  width: 450px;
  height: 110px;
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  padding: 30px;
  align-items: center;
}
.feature-title {
  color: #131313;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}
.feature-right {
  position: relative;
}
.architect {
  /* padding-top: 100px; */
  width: 95%;
  height: 900px;
  float: right;
}
.btn-secondary {
  background: #ff900e;
  border-radius: 8px;
  width: 342px;
  height: 200px;
  border: 0;
  color: #ffffff;
  position: absolute;
  top: 800px;
}

/* some facts section */
.some-facts {
  margin: 200px 200px;
}
.some-facts-title,
.sponsor-title {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
  margin-bottom: 20px;
}
.facts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.fact {
  margin-top: 80px;
  margin-left: 30px;
  width: 200px;
  height: 200px;
  border: 1px solid #ff900e;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.fact img {
  width: 45.22px;
  height: 45.22px;
}
.fact-title {
  color: #424242;
  font-weight: 600;
  font-size: 45px;
}

/* our sponsors section */
.our-sponsors {
  margin: 200px 200px;
}
.sponsor-info {
  text-align: center;
}
.sponsors {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
}
.sponsor img {
  width: 153.33px;
  height: 50px;
}

/* footer */
.footer {
  margin: 200px 200px;
  background: #fff4e7;
  border-radius: 8px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-info {
  color: #424242;
  font-weight: 400;
  font-size: 20px;
}
